{$BACKEND_DOMAIN} {
    reverse_proxy backend:80

    encode gzip

    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }

    log {
        output stderr
        format console
        level INFO
    }
}
